body {
    margin: 0px;
    background-image: url("image/background2 (3).jpg");
    background-size: cover;
    background-repeat: no-repeat;
}



.navbar-box {
    border: 1px solid rgb(2, 2, 41);
    background-color: rgba(4, 4, 48, 0.911);
    max-width: auto;
    height:60px;
}
.navbar-box .navbar-content {
    display: flex;
    justify-content: flex-end;
}
.navbar-box .navbar-content h2 , .schor {
 position: relative;
 right: 350px;
 font-family: Arial, Helvetica, sans-serif;
 color: white;
 font-size: 20px;
 font-weight: lighter;
 margin-top: 20px;


}
.navbar-box .navbar-content .schor {
    position: relative;
    bottom: 12px;
}
.navbar-box .navbar-content a{
    margin-right: 30px;
    margin-top: 23px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.navbar-box .navbar-content .first-child{
    color: orange
}

.navbar-box .navbar-content input {
 width: 120px;
 height: 30px;
 margin-top:15px;
 margin-right: 30px;
 border: 1px solid orange;
 background-color: orange;
 border-radius: 6px;

}

.navbar-box .navbar-content input:hover {
    color: white;
}

.navbar-box .navbar-content a:hover {
color: orange;
}
.navbar-box .navbar-content .first-child:hover {
color: white;
}

header .header-content h2, p {
    text-align: center;
    color:black;
    position: relative;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
.header-content p {
    text-transform: uppercase;
    font-size: 15px;
    color: black;
}

.form-content {
width: 300px;
height: 500px;
position: relative;
left: 100px;
top: 50px;
border: 1px solid white;
background-color:white;

}

.form-content h3,h6 {
text-align: center;
color: #04042fe8;
font-family: Arial, Helvetica, sans-serif;

}

.form-content h6{
color: black;
margin-top: -7px;

}
.form-content input{
width:250px;
height: 30px;
position: relative;
left: 20px;
margin-top: 20px;

}

.form-content #textarea{
    margin-top: 20px;
    margin-left:20px;
    width:250px;
    height: 80px;
}

.form-content .submit-input{
    background-color: #04042fe8;
    border: 1px solid #04042fe8;
    color: white;

}

.sidebar-box{
    max-width: 1250px;
    height: 150px;
    border: 1px solid  #04042fe8;
    background-color: #04042fe8;
    position: relative;
    top: 150px;
    left: 45px;
    display: flex;
}
.sidebar-box  .sidebar2{
    text-align: center;
    position: relative;
    top: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    border-right: 1px solid white;
    width: 405px;
    height: 140px;

}

.sidebar-box .sidebar1 {
    text-align: center;
    position: relative;
    top: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    border-right: 1px solid white;
    width: 405px;
    height: 140px;
}

.sidebar-box .sidebar3 {
  text-align: center;
  position: relative;
  top: 12px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 405px;
  height: 140px;
  font-weight:lighter;  
}

.sidebar-box  .sidebar1 p {
    position: relative;
    top:0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
}
.sidebar-box  .sidebar2 p {
    position: relative;
    top:0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
}

.sidebar-box  .sidebar3 p {
    position: relative;
    top:0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
}
 footer .footer-box {
    max-width: auto;
    height: 335px;
    border: 1px solid white;
    background-color: white;
    position:relative;
    top:140px;
    font-family: Arial, Helvetica, sans-serif; 

}
footer .footer-box h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    color: rgba(4, 4, 48, 0.911);
    
}
footer .footer-box p {
    text-align: center;
    position: relative;
    top: 0px;
    font-family: Arial, Helvetica, sans-serif; 
    color: black;
    letter-spacing: 0px;
}

.footer-box .img {
    position: relative;
    left: 450px;
}